<% 
	// By ommitting the var keyword, this creates an identifier "base" on the global object,
	// so it's available in all views. Tried doing this in harp.json "globals" but it didn't
	// seem to get created.
	base = new Array(current.path.length).join("../");
%>
<!DOCTYPE html>
<html class="layout <%- (environment == 'production') && "_prod" || "" %>">
<head>
	<link rel="stylesheet" href="<%=base%>styles.css" type="text/css">
</head>
<body>
	<h1><a href="<%=base%>./">Harp test</a></h1>
	<%- partial('_nav') %>

	<div class="-page">
	    <%- yield %>
	</div>
    <% if (environment == 'production') { %>
        <!-- Revision <%- public.build._data.version %> -->
    <% }
    else { %>
		<cite>Revision <%- public.build._data.version %>
    <% } %>
</body>
</html>